.app{
    height: 100vh;
    
    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #fdfcfa;
        position: relative;
        scrollbar-width: none;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            display: none;
        }
        top: 70px;
        > *{
            width:100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}